
.project

public/jquery-ui-1.8.14.custom/css/custom-theme/.DS_Store

public/jquery-ui-1.8.14.custom/.DS_Store

public/jquery-ui-1.8.14.custom/css/.DS_Store

.settings/org.eclipse.wst.jsdt.ui.superType.name

.settings/org.eclipse.wst.jsdt.ui.superType.container

.settings/org.eclipse.php.core.prefs

.settings/org.eclipse.core.runtime.prefs

.DS_Store

.buildpath

.settings/.jsdtscope

.settings/org.eclipse.core.resources.prefs
